@import "config";
@import "system";

body {
  height: 100vh;
  background-color: $VdarkBlue;
  font-family: "lexend deca", sans-serif;

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50rem;
    // align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 1px yellow solid;

    .box {
      height: 100%;
      width: 50%;
      position: absolute;
      background-color: $SoftViolet;
    }

    img {
      height: 100%;
      width: 100%;
    }

    .firstdiv {
      background-color: $DDesuratedBlue;
      height: 37vh;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .menu {
      display: flex;
      justify-content: space-between;
    }

    p {
      color: hsla(0, 0%, 100%, 0.6);
      font-size: 14px;

      font-weight: 300;
    }

    .sss {
      font-size: 13px;
      font-family: "inter";
    }

    h1 {
      color: hsl(0, 0%, 100%);
    }

    .prex {
      font-size: 1.2rem;
      color: hsla(0, 0%, 100%, 0.75);
    }

    a {
      text-decoration: none;
    }
  }
}
